body{
    text-align: center;
    font-family: sans-serif;
    background-color: #000; 
    color: white;
   }
  
   .welcome{
      font-size:  4em;
      margin-top: 4em;
      text-align: center;
      
   }

    p {
        font-size: 3em;
        margin-top: 1em;
    }
  
  .main-container{
      text-align: center;
      display: flex;
      flex-direction: column;
  }
  
   .button-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    }
  
  
   .button-main{
      padding: 3em 4em;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 18px;
      border: none;
      border-radius: 40px;
      margin: 1em;
      background-color: #444; 
      color: white;
      cursor: pointer;
   }
  
   .button-main:hover {
      background-color: #555;
   }