<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='portal.css') }}">
    <body>
        <h1 class="welcome">Welcome {{ username }}</h1>
        <p>Choose a language</p>
        
         <div class="main-container">
         <div class="button-container">
            
            <form action="{{ url_for('difficulty') }}" method="post">
            <button type="submit" class="button-main">Java</button>
            </form>
            <button class="button-main">Python<br>(in progress)</br></button>
            <button class="button-main">C<br>(in progress)</br></button>
        </div>
        </div>
    </body>
</html>
